/*--- IMPORTS ---*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

/*--- VARIÁVEIS ---*/
var {
	/*--- CORES ---*/
	--cor-fonte-padrao: #222222;
	--cor-fonte-secundaria: #465b52;
}

/*--- RESET ---*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-size: 62.5%;
}

/*--- PADRÕES ---*/
h1 {
	font-size: 5rem;
	line-height: 6.4rem;
	color: var(--cor-fonte-padrao);
}

h2 {
	font-size: 4.6rem;
	line-height: 5.4rem;
	color: var(--cor-fonte-padrao);
}

h4 {
	font-size: 2rem;
	color: var(--cor-fonte-padrao);
}

h6 {
	font-weight: 700;
	font-size: 1.2rem;
}

p {
	font-size: 1.6rem;
	color: var(--cor-fonte-secundaria);
	margin: 1.5rem 0 2rem 0;
}

.section-p1 {
	padding: 4rem 8rem;
}

.section-m1 {
	margin: 4rem 0;
}

button.normal {
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1.5rem 3rem;
	color: #222222;
	background-color: #ffffff;
	border-radius: 0.4rem;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s ease;
}

button.white {
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1.1rem 1.8rem;
	color: #ffffff;
	background-color: transparent;
	cursor: pointer;
	border: 0.1rem solid #ffffff;
	outline: none;
	transition: 0.2s ease;
}

body {
	width: 100%;
}

/*--- HEADER START ---*/

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 8rem;
	background: #ffffff;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 2rem;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #f14e15;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 0.2rem;
	background: #f14e15;
	position: absolute;
	bottom: -0.4rem;
	left: 2rem;
}

#mobile {
	display: none;
	align-items: center;
}

#close {
	display: none;
}

#bar {
	cursor: pointer;
}

.cart {
	font-size: 1.6rem;
}

.logo {
	width: 18rem;
}

/*--- HOME PAGE START ---*/
#hero {
	background-image: url("../img/hero.jpg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 8rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#hero h4 {
	font-size: 3rem;
	padding-bottom: 1.5rem;
}

#hero h2 {
	font-size: 5rem;
}

#hero h1 {
	font-size: 7rem;
	color: #f14e15;
}

#hero p {
	font-size: 2.5rem;
}

#hero button {
	background-image: url(../img/button.png);
	background-color: transparent;
	color: #f14e15;
	border: 0;
	padding: 1.4rem 8rem 1.4rem 6.5rem;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;
	transition: 0.3s ease;
}

#hero button:hover {
	background-image: url(../img/button_hover.png);
	color: #cc4818;
}

#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#feature .fe-box {
	width: 18rem;
	text-align: center;
	padding: 2.5rem 1.5rem;
	box-shadow: 3.1px 2.8px 3.5px -10px rgba(0, 0, 0, 0.011),
		6.8px 6.1px 8.9px -10px rgba(0, 0, 0, 0.018),
		11.7px 10.5px 18.3px -10px rgba(0, 0, 0, 0.025),
		19.9px 17.9px 37.6px -10px rgba(0, 0, 0, 0.033),
		40px 36px 103px -10px rgba(0, 0, 0, 0.05);
	border: 0.1rem solid #dfdfdf;
	border-radius: 0.4rem;
	margin: 1.5rem 0;
}

#feature .fe-box:hover {
	box-shadow: 3.1px 2.8px 3.5px -10px rgba(0, 0, 0, 0.026),
		6.8px 6.1px 8.9px -10px rgba(0, 0, 0, 0.037),
		11.7px 10.5px 18.3px -10px rgba(0, 0, 0, 0.046),
		19.9px 17.9px 37.6px -10px rgba(0, 0, 0, 0.053),
		40px 36px 103px -10px rgba(0, 0, 0, 0.06);
}

#feature .fe-box img {
	width: 100%;
	margin-bottom: 1rem;
}

#feature .fe-box h6 {
	display: inline-block;
	padding: 0.9rem 0.8rem 0.6rem 0.8rem;
	line-height: 1;
	border-radius: 0.4rem;
}

#feature .fe-box:nth-child(1) h6 {
	color: #4a838a;
	background-color: #e2fdfd;
}

#feature .fe-box:nth-child(2) h6 {
	color: #c0719f;
	background-color: #fdecf6;
}

#feature .fe-box:nth-child(3) h6 {
	color: #7d9659;
	background-color: #def0c4;
}

#feature .fe-box:nth-child(4) h6 {
	color: #5e88a1;
	background-color: #c6e2f3;
}

#feature .fe-box:nth-child(5) h6 {
	color: #796ca3;
	background-color: #d1c6f0;
}

#feature .fe-box:nth-child(6) h6 {
	color: #916f59;
	background-color: #dfbda7;
}

#product1 {
	text-align: center;
}

#product1 .pro-container {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	flex-wrap: wrap;
}

#product1 .pro {
	width: 23%;
	min-width: 25rem;
	padding: 1rem 1.2rem;
	border: 0.1rem solid #dfdfdf;
	border-radius: 2.5rem;
	cursor: pointer;
	box-shadow: 3.1px 2.8px 3.5px -10px rgba(0, 0, 0, 0.011),
		6.8px 6.1px 8.9px -10px rgba(0, 0, 0, 0.018),
		11.7px 10.5px 18.3px -10px rgba(0, 0, 0, 0.025),
		19.9px 17.9px 37.6px -10px rgba(0, 0, 0, 0.033),
		40px 36px 103px -10px rgba(0, 0, 0, 0.05);

	margin: 1.5rem 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover {
	box-shadow: 3.1px 2.8px 3.5px -10px rgba(0, 0, 0, 0.026),
		6.8px 6.1px 8.9px -10px rgba(0, 0, 0, 0.037),
		11.7px 10.5px 18.3px -10px rgba(0, 0, 0, 0.046),
		19.9px 17.9px 37.6px -10px rgba(0, 0, 0, 0.053),
		40px 36px 103px -10px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
	width: 100%;
	border-radius: 2rem;
}

#product1 .pro .des {
	text-align: start;
	padding: 1rem 0;
}

#product1 .pro .des span {
	color: #606063;
	font-size: 1.2rem;
}

#product1 .pro .des h5 {
	padding-top: 0.7rem;
	color: #1a1a1a;
	font-size: 1.7rem;
}

#product1 .pro .des i {
	font-size: 1.2rem;
	color: #f3b519;
}

#product1 .pro .des h4 {
	padding-top: 0.7rem;
	font-size: 1.7rem;
	font-weight: 900;
	color: #f14e15;
}

#product1 .pro .cart {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	border-radius: 50%;
	color: #f14e15;
	border: 0.1rem solid #f14e15;
	position: absolute;
	bottom: 2rem;
	right: 1rem;
	transition: 0.2s ease;
	cursor: pointer;
	align-items: center;
}

#product1 .pro .cart:hover {
	background-color: #f14e15;
	color: #ffffff;
}

#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../img/banner/b1.jpg);
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
}

#banner h4 {
	color: #ffffff;
	font-size: 2rem;
}

#banner h2 {
	color: #ffffff;
	font-size: 3rem;
	padding: 1rem 0;
}

#banner h2 span {
	color: #f14e15;
	font-size: 3rem;
}

#banner button:hover {
	background-color: #f14e15;
	color: #ffffff;
}
#sm-banner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#sm-banner .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: url(../img/banner/banner1.jpg);
	min-width: 58rem;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 3rem;
}

#sm-banner div:nth-child(2) {
	background-image: url(../img/banner/banner2.jpg);
}

#sm-banner h4 {
	color: #9e0bff;
	font-size: 2rem;
	font-weight: 500;
}

#sm-banner h2 {
	color: #f14e15;
	font-size: 2.8rem;
	font-weight: 800;
}

#sm-banner span {
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 500;
	padding-bottom: 1.5rem;
}

#sm-banner button:hover {
	background-color: #f14e15;
	color: #ffffff;
}

#banner3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 8rem;
}

#banner3 .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: url(../img/banner/b1.jpg);
	min-width: 30%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 2rem;
	margin-bottom: 2rem;
}

#banner3 .banner-box:nth-child(2) {
	background-image: url(../img/banner/b4.jpg);
}

#banner3 .banner-box:nth-child(3) {
	background-image: url(../img/banner/b18.jpg);
}

#banner3 h2 {
	color: #ffffff;
	font-weight: 900;
	font-size: 2.2rem;
}

#banner3 h3 {
	color: #f14e15;
	font-size: 1.5rem;
	font-weight: 800;
}

#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(../img/banner/b14.png);
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}

#newsletter h4 {
	font-size: 2.2rem;
	font-weight: 700;
	color: #ffffff;
}

#newsletter p,
span {
	font-size: 1.4rem;
	font-weight: 600;
	color: #818ea0;
}

#newsletter p span {
	color: #f14e15;
}

#newsletter .form {
	display: flex;
	width: 40%;
}

#newsletter input {
	height: 4.992rem;
	padding: 0 1.25em;
	font-size: 1.4rem;
	width: 100%;
	border: 0.1rem solid transparent;
	border-radius: 0.4rem 0 0 0.4rem;
	outline: none;
}

#newsletter button {
	background-color: #f14e15;
	color: #ffffff;
	white-space: nowrap;
	border-radius: 0 0.4rem 0.4rem 0;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 2rem;
}

footer .logo {
	margin-bottom: 3rem;
}

footer h4 {
	font-size: 1.4rem;
	padding-bottom: 2rem;
}

footer p,
strong {
	font-size: 1.3rem;
	margin: 0 0 0.8rem 0;
}

footer a {
	font-size: 1.3rem;
	text-decoration: none;
	color: #222222;
	margin-bottom: 1rem;
}

footer a:hover {
	color: #f14e15;
}

footer .follow {
	margin-top: 2rem;
}

footer .follow i {
	color: #222222;
	padding-right: 0.4rem;
	cursor: pointer;
}

footer .follow .fa-facebook:hover {
	color: #395599;
}

footer .follow .fa-instagram:hover {
	color: #cc3171;
}

footer .follow .fa-twitter:hover {
	color: #1c99e5;
}

footer .follow .fa-youtube:hover {
	color: #f20000;
}

footer .install .row img {
	border: 0.1rem solid #f14e15;
	border-radius: 0.6rem;
}

footer .install img {
	margin: 1rem 0 1.5rem 0;
}

footer .copyright {
	width: 100%;
	text-align: center;
}

#page-header {
	background-image: url(../img/banner/b1.jpg);
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 1.4rem;
}

#page-header h2,
#page-header p {
	color: #ffffff;
}

#pagination {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}

#pagination a {
	font-size: 1.4rem;
	text-decoration: none;
	background-color: #f14e15;
	padding: 1.5rem 2rem;
	border-radius: 0.4rem;
	color: #ffffff;
	font-weight: 600;
}

#pagination a i {
	font-size: 1.2rem;
	font-weight: 600;
}

#prodetails {
	display: flex;
	margin-top: 2rem;
}

#prodetails .single-pro-img {
	width: 40%;
	margin-right: 5rem;
}

.small-img-group {
	display: flex;
	justify-content: space-between;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}

#prodetails .single-pro-details {
	width: 50%;
	padding-top: 3rem;
}

#prodetails .single-pro-details h4 {
	padding: 4rem 0 2rem 0;
}

#prodetails .single-pro-details h2 {
	font-size: 2.6rem;
}

#prodetails .single-pro-details select {
	display: block;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	font-size: 1.4rem;
}

#prodetails .single-pro-details select option {
	font-size: 1.4rem;
}

#prodetails .single-pro-details input {
	width: 5rem;
	height: 4.7rem;
	padding-left: 1rem;
	font-size: 1.4rem;
	margin-right: 1rem;
}

#prodetails .single-pro-details input:focus {
	outline: none;
}

#prodetails .single-pro-details button {
	background-color: #f14e15;
	color: #ffffff;
}

#prodetails .single-pro-details span {
	line-height: 2.5rem;
	color: #222222;
}

.about-header {
	background-image: url(../img/sobre/banner.png);
}

#contact-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#contact-details .details {
	width: 40%;
}

#contact-details .details span {
	font-size: 1.2rem;
}

#contact-details .details h2 {
	font-size: 2.6rem;
	line-height: 3.5rem;
	padding: 2rem 0;
}

#contact-details .details h3 {
	font-size: 1.6rem;
	padding-bottom: 1.5rem;
}

#contact-details .details li {
	list-style: none;
	display: flex;
	padding: 1rem 0;
}

#contact-details .details li i {
	font-size: 1.4rem;
	padding-right: 2.2rem;
}

#contact-details .details p {
	margin: 0;
	font-size: 1.4rem;
}

#contact-details .map {
	width: 55%;
	height: 40rem;
}

#contact-details .map iframe {
	width: 100%;
	height: 100%;
}

#form-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#form-details form {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#form-details form span {
	font-size: 2rem;
	color: #222222;
}

#form-details form h2 {
	font-size: 2.6rem;
	line-height: 3.5rem;
	padding: 2rem 0;
}

#form-details form input,
#form-details form textarea {
	width: 100%;
	padding: 1.2rem 1.5rem;
	outline: none;
	margin-bottom: 2rem;
	border: 0.1rem solid #e1e1e1;
	font-size: 1.4rem;
}

#form-details form button {
	background-color: #f14e15;
	color: #ffffff;
	padding: 1.5rem 2rem;
	border-radius: 0.4rem;
	font-size: 1.4rem;
	font-weight: 600;
}

#cart-shop table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

#cart-shop .delete {
	color: #cf0404;
}

#cart-shop table img {
	width: 7rem;
}

#cart-shop table td,
#cart-shop table td input {
	font-size: 1.4rem;
}

#cart-shop table td:nth-child(1) {
	width: 10rem;
	text-align: center;
}

#cart-shop table td:nth-child(2) {
	width: 15rem;
	text-align: center;
}

#cart-shop table td:nth-child(3) {
	width: 25rem;
	text-align: center;
}

#cart-shop table td:nth-child(4),
#cart-shop table td:nth-child(5),
#cart-shop table td:nth-child(6) {
	width: 15rem;
	text-align: center;
}

#cart-shop table td:nth-child(5) input {
	width: 7rem;
	padding: 1rem 0.5rem 1rem 1.5rem;
}

#cart-shop thead {
	border: 0.1rem solid #e2e9e1;
	border-left: none;
	border-right: none;
}

#cart-shop thead td {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.3rem;
	padding: 1.8rem 0;
}

#cart-shop table tbody tr td {
	padding-top: 1.5rem;
}

#cart-shop table tbody td {
	font-size: 1.3rem;
}

#cart-add {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#cupon h3,
#subtotal h3 {
	font-size: 2rem;
}

#subtotal td,
#subtotal td strong {
	font-size: 1.4rem;
}

#cupon input {
	font-size: 1.4rem;
}

#cupon {
	width: 50%;
	margin-bottom: 3rem;
}

#cupon h3,
#subtotal h3 {
	padding-bottom: 1.5rem;
}

#cupon input {
	padding: 1rem 2rem;
	outline: none;
	width: 60%;
	margin-right: 1rem;
	border: 0.1rem solid #e2e9e1;
}

#cupon button,
#subtotal button {
	background-color: #f14e15;
	color: #ffffff;
	padding: 1rem 2rem;
}

#subtotal {
	width: 50%;
	margin-bottom: 3rem;
	border: 0.1rem solid #e2e9e1;
	padding: 3rem;
}

#subtotal table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2rem;
}

#subtotal table td {
	width: 50%;
	border: 0.1rem solid #e2e9e1;
	padding: 1rem;
	font-size: 1.3rem;
}

@media (max-width: 799px) {
	.section-p1 {
		padding: 4rem 3rem;
	}

	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -30rem;
		height: 100vh;
		width: 30rem;
		background-color: #ffffff;
		box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
		padding: 8rem 0 0 1rem;
		transition: 0.3s;
	}

	#navbar.active {
		right: 0;
	}
	#navbar li {
		margin-bottom: 2.5rem;
	}

	#mobile {
		display: flex;
		align-items: center;
	}

	#mobile i {
		color: #222222;
		font-size: 2.4rem;
		padding-left: 2rem;
	}

	#close {
		display: initial;
		position: absolute;
		top: 3rem;
		left: 3rem;
		color: #222222;
	}

	#close i {
		font-size: 2.4rem;
	}

	#navbar #lb-bag {
		display: none;
	}

	#hero {
		height: 70vh;
		padding: 0 8rem;
		background-position: top 30% right 30%;
	}

	#feature {
		justify-content: center;
	}

	#feature .fe-box {
		margin: 1.5rem 1.5rem;
	}

	#product1 .pro-container {
		justify-content: center;
	}

	#product1 .pro {
		margin: 1.5rem;
	}

	#banner {
		height: 30vh;
	}

	#sm-banner .banner-box {
		min-width: 100%;
		height: 30vh;
	}

	#sm-banner .banner-box:nth-child(1) {
		margin-bottom: 0.8rem;
	}

	#banner3 {
		padding: 0 3rem;
	}

	#banner3 .banner-box {
		width: 28%;
	}

	#newsletter .form {
		width: 70%;
	}
}

@media (max-width: 477px) {
	.section-p1 {
		padding: 2rem;
	}

	#header {
		padding: 1rem 3rem;
	}

	#hero {
		padding: 0 2rem;
		background-position: 80%;
	}

	#hero h2 {
		font-size: 3.2rem;
	}

	#hero h4 {
		font-size: 3.8rem;
	}

	#feature {
		justify-content: space-between;
	}

	#feature .fe-box {
		width: 15.5rem;
		margin: 0 0 1.5rem 0;
	}

	#product1 .pro {
		width: 100%;
	}

	#banner {
		height: 40vh;
	}

	#sm-banner .banner-box {
		height: 40vh;
	}

	#banner3 {
		padding: 0 2rem;
	}

	#banner3 .banner-box {
		width: 100%;
	}

	#newsletter {
		padding: 4rem 2rem;
	}
	#newsletter .form {
		width: 100%;
	}

	footer .copyright {
		text-align: start;
	}

	#prodetails {
		display: flex;
		flex-direction: column;
	}

	#prodetails .single-pro-img {
		width: 100%;
	}

	#prodetails .single-pro-details {
		width: 100%;
	}
}
